# PostgreSQL
POSTGRES_USER=app_roi
POSTGRES_PASSWORD=app_roi_secret
POSTGRES_DB=app_roi
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Server
SERVER_PORT=3001
NODE_ENV=development

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:3001
